<?xml version="1.0" encoding="UTF-8"?>
<phpunit 
    bootstrap="vendor/autoload.php" 
    colors="true"
    verbose="true"
    defaultTestSuite="endpoint"
    cacheResultFile="tests/.phpunit.result.cache">
        <testsuites>
            <testsuite name="endpoint">
                <directory>tests/</directory>
            </testsuite>
        </testsuites>
</phpunit>